body {
  background-color:bisque
}

.textfont {
  font-family:'Abel', sans-serif;
  font-size: 30px;
}


h1 {
  color:red;
  font-weight: 900;
  font-size: 200px;
  text-align:center;
  font-family: 'Nanum Brush Script', cursive;
}

.column {
  width: 300px;
  float: left;
}