body {
  background-color:bisque
}

.textfont {
  font-family:'Abel', sans-serif;
  font-size: 30px;
}

img {
  float:right;
}


h1 {
  color:red;
  font-weight: 900;
  font-size: 200px;
  text-align:center;
  font-family: 'Nanum Brush Script', cursive;
}

h2 {
  color:red;
  font-style:italic;
}


.column {
  width: 20%;
  float: left;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: darkgoldenrod;
}

