body {
  background-color:bisque
}

.textfont {
  font-family:'Abel', sans-serif;
  font-size: 30px;

}

img {
  float:left;
  border: 5px solid red;
}


h1 {
  color:red;
  font-weight: 900;
  font-size: 250px;
  text-align:center;
  font-family: 'Nanum Brush Script', cursive;
}

ul {
  font-size: 30px;
  font: weight 500px;
}

h2 {
  color:red;
  font-style:italic;
  font-family: 'Nanum Brush Script', cursive;
}

.box1 {
  width: 300px;
  border: solid red;
  border-width: 5px;
  background-color: bisque;
  margin: 10px;
  box-sizing:border-box;
}

.box2 {
  width: 300px;
  border: solid red;
  border-width: 5px;
  background-color: bisque;
  margin: 10px;
  box-sizing:border-box;
}


.column {
  width: 20%;
  float: left;
}

.sidebar {
  width: 20%;
  float: right;
  border: 5px solid red;
  background-color: darkgoldenrod;
}

